* {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

#container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.04s;
}

#container svg {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  transition: all 0.04s;
}

.keySwitch {
  position: absolute;
  top: 50%;
  left: 50%;
}

.keyPillar {
  position: absolute;
  right: 45.5%;
}

.keyMiddlePillar {
  position: absolute;
  top: 52.5%;
  right: 40.8%;
}

.middleKeyHook {
  position: absolute;
  top: 57%;
  left:44.5%
}

.keyHook {
  position:absolute;
  top:55%;
  left: 43%;
}
