* {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

#container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.04s;
}

#container svg {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
}

.keySwitch {
  position: absolute;
  top: 50%;
  left: 50%;
}

.keyPillar {
  position: absolute;
  top: 35%;
  right: 45.1%;
  transition: all 0.04s ease;
}

.keyMiddlePillar {
  position: absolute;
  top: 45.5%;
  right: 45.9%;
  transition: all 0.1s cubic-bezier(0.125, 0.79, 0.625, -0.215); /* custom */

  transition-timing-function: cubic-bezier(
    0.125,
    0.79,
    0.625,
    -0.215
  ); /* custom */
  z-index: 2;
}

.middleKeyHook {
  position: absolute;
  top: 57%;
  left: 44.5%;
  z-index: 1;
}

.keyHook {
  position: absolute;
  top: 45%;
  left: 40.2%;
  transition: all 500ms cubic-bezier(0.115, 0.495, 0.185, 0.955); /* custom */

  transition-timing-function: cubic-bezier(
    0.115,
    0.495,
    0.185,
    0.955
  ); /* custom */
}
